* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#container {
    background-color:;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
#calculator{
    background-color: rgb(0, 0, 0);
   
    padding: 20px;
    border-radius:20px;
    border: 10px solid rgb(24, 122, 139);
}
#calculator form input{
    border: 0;
    outline: 0;
    width: 65px;
    height: 70px;
    border-radius:100%;
    background:rgba(76, 76, 76, 0.678);
    border: 1px solid rgb(112, 112, 112);
    font-size: 29px;
    color: rgb(255, 254, 254);
    margin: 7px;
    cursor: pointer;
}
#calculator form input.eq {
    width: 145px;
    background-color:rgb(233, 94, 44);
    border-radius: 35px;
}
form #display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    color: black;
    border: 3px solid rgb(233, 94, 44);
    border-radius: 9px;
}
form #display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
}
#calculator form input.ac{
    color:black;
    font-weight: 600;
    background-color: gray;

}
#calculator form input.aa {
    border-radius: 6px;
    background-color: black;
    border: 1px ;

}
#calculator form input.ops{
    background-color:rgb(233, 94, 44);
}
#calculator form input.ops1{
    background-color:rgb(233, 94, 44);
    font-size: 35px;
}